<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">ABOUT US</h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Pages</a>
      </li>
      <li class="active">About Us</li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <section>
      <div class="row">
        <div class="col-md-6">
          <p>Taylor CC Services was formed in late 2006 by Ian Taylor as a response to an increasing need for PLC programmers with a broad understanding of oil and gas process systems. After achieving success in process troubleshooting, network design and programming, Taylor CC Services expanded to also provide logistics and panel fabrication.</p>

          <p>In early 2009, Taylor CC Services became Connect Control Systems Inc. and Ian took the role of President. This new direction was a response to increased client needs for further support and development in project management, process, data acquisition, communications, engineering, troubleshooting and field services.</p>

          <p>Connect Control Systems has been able to achieve healthy exponential growth and has recently expanded by opening two key divisions: Connect Global Corp. which is focused on supporting the expanding oil and gas industry in the USA and a Control Panel Fabrication shop supplying automation products in various industrial applications. Along with these two areas Connect Control Systems has sustained its original focus of providing automation services across Alberta in Edmonton, Fort St. John, Grande Prairie, and Hinton.</p> 
        </div>
        <div class="col-md-6">
          <div class="featured-video">
            <iframe src="//player.vimeo.com/video/40056491"></iframe>
          </div>
        </div>
      </div>
      <br><hr>
    </section>

    <h2 class="section-heading">OUR STAFFS</h2>
    <!-- TEAM -->
    <section class="team">
      <div class="section-content">
        <div class="col-md-5">
          <div class="team-member media">
            <%= image_tag "example_portrait.png", alt: "portrait", class: "media-object img-circle pull-left" %>
            <div class="media-body">
              <h3 class="media-heading team-name">Michael Summer</h3>
              <strong>Executive Director</strong>
              <hr class="pull-left">
              <div class="clearfix"></div>
              <p>The best director on earth .... Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals.</p>
              <ul class="list-inline social-icon">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <div class="team-member media">
            <%= image_tag "example_portrait.png", alt: "example portrait", class: "media-object img-circle pull-left" %>
            <div class="media-body">
              <h3 class="media-heading team-name">Jane Doe</h3>
              <strong>Art Director</strong>
              <hr class="pull-left">
              <div class="clearfix"></div>
              <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
              <ul class="list-inline social-icon">
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END TEAM -->

    <!-- OUR CLIENTS -->
    <section class="clients no-margin">
      <div class="container">
        <h2 class="section-heading">OUR CLIENTS</h2>
        <ul class="list-inline list-client-logo">
          <li>
            <a href="#"><%= image_tag "example_logo.png", alt: "client logo" %></a>
          </li>
          <li>
            <a href="#"><%= image_tag "example_logo.png", alt: "client logo" %></a>
          </li>
          <li>
            <a href="#"><%= image_tag "example_logo.png", alt: "client logo" %></a>
          </li>
          <li>
            <a href="#"><%= image_tag "example_logo.png", alt: "client logo" %></a>
          </li>
          <li>
            <a href="#"><%= image_tag "example_logo.png", alt: "client logo" %></a>
          </li>
        </ul>
      </div>
    </section>
    <!-- END OUR CLIENTS -->
  </div>
</div>
<!-- END PAGE CONTENT -->