<% content_for :page_title do %>
  Experience | Connect Control
<% end %>

<% content_for :project_title do %>
  Gas Plant
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left"> Projects Gallery - <%= yield(:project_title) %></h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Experience", experience_path %></li>
      <li class="active"><%= yield(:project_title) %></li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">  
    <div class="portfolio-static">
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_1.jpg", alt: "Test" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_2.jpg", alt: "Test" %>
            </div>
          </div>
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_3.jpg", alt: "Test" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_4.jpg", alt: "Test" %>
            </div>
          </div>
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_5.jpg", alt: "Test" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_6.jpg", alt: "Test" %>
            </div>
          </div>
        </div>
      </div></br>
      <div class="row">
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_7.JPG", alt: "Test" %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portfolio-item">
            <div class="media-wrapper">
              <%= image_tag "GP_8.jpg", alt: "Test" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <section>
      <h2 class="section-heading">PROJECT DESCRIPTION</h2>
    </section>
  </div>
</div>
<!-- END PAGE CONTENT -->
