<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR SERVICES</h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li class="active">Services</li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <p> CONTENT REQUIRED </p>
    <br><br>
    <!-- BOXED CONTENT -->  
    <div class="row">       
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-cogs"></i>
          <h2 class="boxed-content-title">Control Systems Integrator</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_control_systems_integrator_path %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-terminal"></i>
          <h2 class="boxed-content-title">PLC / HMI Programming</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_PLC_HMI_path %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-user-md"></i>
          <h2 class="boxed-content-title">Control Systems Technical Support</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_controls_systems_technical_support_path %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-globe"></i>
          <h2 class="boxed-content-title">Network Design and Support</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_network_design_and_support_path %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-inbox"></i>
          <h2 class="boxed-content-title">Control Panel Fabrication</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_control_panel_fabrication_path %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-plug"></i>
          <h2 class="boxed-content-title">Instrumentation and Eletrical Services</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_instrumentation_and_electrical_services_path %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-database"></i>
          <h2 class="boxed-content-title">Data Acquisition and Hosting Solutions</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_data_acquisition_and_hosting_solutions_path %></p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="boxed-content left-aligned left-boxed-icon">
          <i class="fa fa-stethoscope"></i>
          <h2 class="boxed-content-title">Control System Audits</h2>
          <p>CONTENT REQUIRED...</p>
          <p class="text-right"><%= link_to "Learn more", services_control_systems_audits_path %></p>
        </div>
      </div> 
    </div>
    <!-- END BOXED CONTENT -->  
  </div>
</div>
<!-- END PAGE CONTENT -->