<% content_for :page_title do %>
  Services | Connect Control
<% end %>

<% content_for :services_title do %>
  Control Panel Fabrication
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR SERVICES - <%= yield(:services_title) %></h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li class="active"><%= yield(:services_title) %></li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <!-- BOXED CONTENT -->
      <div class="col-md-3">
        <%= render "layouts/service_table" %>
      </div>
      <!-- END BOXED CONTENT -->

      <div class="col-md-9">
        <%= image_tag "testimonial-bg.png", alt: "more intro image", class: "img-responsive" %>
      </br>
        <p>Connect Control Systems Inc. designs, engineers and manufactures certified panels used within the energy industry.  The panels house electrical components used to monitor and control devices in the field. They have the ability to start and stop equipment both manually and automatically.  They have the ability to record and send valuable information to the parties involved in operating equipment and to those that are responsible to accounting purposes.  Connect Control Systems, Inc. has manufactured panels that vary in size and complexity depending on the application. Applications vary from larger natural gas processing facility MCC (Main Control Center) to single oil well RTU’s (Remote Transmitting Unit).</p>

        <p class="text-center"><%= link_to "Back", services_path %></p> 
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->








