<% content_for :page_title do %>
  Services | Connect Control
<% end %>

<% content_for :services_title do %>
  Control Systems Technical Support
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR SERVICES - <%= yield(:services_title) %></h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li class="active"><%= yield(:services_title) %></li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <!-- BOXED CONTENT -->
      <div class="col-md-3">
        <%= render "layouts/service_table" %>
      </div>
      <!-- END BOXED CONTENT -->

      <div class="col-md-9">
        <%= image_tag "testimonial-bg.png", alt: "more intro image", class: "img-responsive" %>
      </br>
        <p>Connect Control Systems, focus is to deliver the highest quality, most cost effective industrial automation solutions, services, products and support. Our experience as systems integrators allows us to archive a level of standards that place us among the leading control and automation contractors in the industry.</p>

        <p class="text-center"><%= link_to "Back", services_path %></p> 
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

