<% content_for :page_title do %>
  Services | Connect Control
<% end %>


<% content_for :services_title do %>
  Network Design and Support
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR SERVICES - <%= yield(:services_title) %></h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li class="active"><%= yield(:services_title) %></li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <!-- BOXED CONTENT -->
      <div class="col-md-3">
        <%= render "layouts/service_table" %>
      </div>
      <!-- END BOXED CONTENT -->

      <div class="col-md-9">
        <%= image_tag "testimonial-bg.png", alt: "more intro image", class: "img-responsive" %>
      </br>
        <p>Connect Control Systems is Corning Cable Systems-trained. This allows your company to use contractors that meet the stringent requirements for technical and financial strength and have a proven dedication to quality installations. Connect Control Systems is a preferred installer, we demonstrate a commitment to extensive factory training and are required to update training for continued excellence.</p>

        <p>We can provide services such as:</p>
        <ul>
          <li> industrial ethernet networking </li>
          <li> network segmentation </li>
          <li> field buses (ModBus, DeviceNet, ControlNet)</li>
          <li> network audits </li>
          <li> maintance </li>
          <li> troubleshooting </li>
        </ul>

        <p class="text-center"><%= link_to "Back", services_path %></p> 
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

