<% content_for :page_title do %>
  Services | Connect Control
<% end %>

<% content_for :services_title do %>
  Commissioning
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR SERVICES - <%= yield(:services_title) %></h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li class="active"><%= yield(:services_title) %></li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <!-- BOXED CONTENT -->
      <div class="col-md-3">
        <%= render "layouts/service_table" %>
      </div>
      <!-- END BOXED CONTENT -->

      <div class="col-md-9">
        <%= image_tag "testimonial-bg.png", alt: "more intro image", class: "img-responsive" %>
      </br>
        <p>We provide commissioning services including: </p>
        <ul>
          <li> commissioning in natural gas plants, gas compressors, power generators, wellsites, water treatment facilities, automated manufacturing, and more .. </li>
          <li> factory and site acceptance tests </li>
          <li> operations/maintenance manuals</li>
          <li> loop/control logic checks  </li>
          <li> assistance in commissioning and start-up, daily and routine maintenance </li>
        </ul>

        <p class="text-center"><%= link_to "Back", services_path %></p> 
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->








