<% content_for :page_title do %>
  Services | Connect Control
<% end %>


<% content_for :services_title do %>
  Instrumentation Services
<% end %>

<!-- BREADCRUMBS -->
<div class="page-header">
  <div class="container">
    <h1 class="page-title pull-left">OUR SERVICES - <%= yield(:services_title) %></h1>
    <ol class="breadcrumb">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Services", services_path %></li>
      <li class="active"><%= yield(:services_title) %></li>
    </ol>
  </div>
</div>
<!-- END BREADCRUMBS -->

<!-- PAGE CONTENT -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <!-- BOXED CONTENT -->
      <div class="col-md-3">
        <ul id="sidebar-nav" class="sidebar-nav margin-bottom-30px">
          <li class="list-group-item ">
            <%= link_to "Control Systems Integrator", services_control_systems_integrator_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "PLC / HMI Programming", services_plc_hmi_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Controls Systems Technical Support", services_controls_systems_technical_support_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Network Design and Support", services_network_design_and_support_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Control Panel Fabrication", services_control_panel_fabrication_path %>
          </li>      
          <li class="list-group-item ">
            <%= link_to "Instrumentation and Electrical Services", services_instrumentation_and_electrical_services_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Data Acquisition and Hosting Solutions", services_data_acquisition_and_hosting_solutions_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Control Systems Audits", services_control_systems_audits_path %>
          </li>
        </ul>
      </div>
      <!-- END BOXED CONTENT -->

      <div class="col-md-9">
        <p>Instrumentation, electrical, and controls services is the heart of our business. From preliminary services through detailed design and project execution, our project development process encompasses the entire scope of service deliverables, including: </p>

        <ul>
        	<li>project cost elimination </li>
        	<li>AFE development</li>
        	<li>RFP, RFQ, and RFI development and evaluation </li>
        	<li>construction package development</li>
        	<li>HazOp and risk analysis </li>
        	<li>instrument field services</li>
        	<li>instrument field calibration </li>
        	<li>verification electrical installation</li>
        </ul>

        <p>We employ a variety of productivity tools and design aids. Connect Control System's primary information storage tool allows data to flow freely from one design stage to the next: from preliminary estimates, to scope refinement, to revised estimates, to design, to document production, and finally to closeout. The relational nature of the data ensures that updates are automatically reflected through the design without duplication of effort.</p>
      </div>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

