<section class="hero-unit-slider">
  <div id="carousel-hero" class="slick-carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "main_slider_1.png", alt: "test slider" %>
        <div class="carousel-caption">
          <h2 class="hero-heading"> HIGHLIGHT - SAFETY RELATED </h2>
          <p class="lead"> THIS IS SAFETY RELATED HIGHLIGHT </p>
          <%= link_to "Learn more", about_path, class: "btn btn-lg hero-button" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag "main_slider_2.png", alt: "test slider" %>
        <div class="carousel-caption">
          <h2 class="hero-heading"> HIGHLIGHT - LEARN ABOUT US </h2>
          <p class="lead"> THIS IS LEARN ABOUT US HIGHLIGHT </p>
          <%= link_to "Learn more", about_path, class: "btn btn-lg hero-button" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag "main_slider_3.png", alt: "test slider" %>
        <div class="carousel-caption">
          <h2 class="hero-heading"> HIGHLIGHT - OTHER </h2>
          <p class="lead"> THIS IS OTHER HIGHLIGHTS </p>
          <%= link_to "Learn more", about_path, class: "btn btn-lg hero-button" %>
        </div>
      </div>
    </div>
  </div>
</section>