<section class="hero-unit-slider">
  <div id="carousel-hero" class="slick-carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag "test_slider_pic.png", alt: "test slider" %>
        <div class="carousel-caption">
          <h2 class="hero-heading">SAFTY &amp; ELEGANCE EXPERTISE</h2>
          <p class="lead">COMMITMENT TO QUALITY, SAFETY AND CUSTOMER SERVICES</p>
          <%= link_to "Learn more", about_path, class: "btn btn-lg hero-button" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag "test_slider_pic.png", alt: "test slider" %>
        <div class="carousel-caption">
          <h2 class="hero-heading">SAFTY &amp; ELEGANCE EXPERTISE</h2>
          <p class="lead">COMMITMENT TO QUALITY, SAFETY AND CUSTOMER SERVICES</p>
          <%= link_to "Learn more", about_path, class: "btn btn-lg hero-button" %>
        </div>
      </div>
      <div class="item">
        <%= image_tag "test_slider_pic.png", alt: "test slider" %>
        <div class="carousel-caption">
          <h2 class="hero-heading">SAFTY &amp; ELEGANCE EXPERTISE</h2>
          <p class="lead">COMMITMENT TO QUALITY, SAFETY AND CUSTOMER SERVICES</p>
          <%= link_to "Learn more", about_path, class: "btn btn-lg hero-button" %>
        </div>
      </div>
    </div>
  </div>
</section>