<nav class="navbar navbar-default navbar-fixed-top shrinkable" role="navigation">
  <div class="container">
    <!-- TOPBAR -->
    <div class="topbar">
      <ul class="list-inline top-nav">
        <li>
          <a href="#">Help</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
      </ul>
      <div class="searchbox">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="search ...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <!-- END TOPBAR -->

    <!-- LOGO -->
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand navbar-logo navbar-logo-bigger" do %>
        <%= image_tag "logo.png", alt: "Company LOGO" %>
      <% end %>
    </div>
    <!-- END LOGO -->

    <!-- MAIN NAVIGATION -->
    <div id="main-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", root_path %></li>
        <li><%= link_to "ABOUT US", about_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"  onclick="location.href='/services'"> SERVICES <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Control Systems Integrator", services_control_systems_integrator_path %></li>
            <li><%= link_to "PLC / HMI Programming", services_plc_hmi_path %></li>
            <li><%= link_to "Controls Systems Technical Support", services_controls_systems_technical_support_path %></li>
            <li><%= link_to "Network Design and Support", services_network_design_and_support_path %></li>
            <li><%= link_to "Control Panel Fabrication", services_control_panel_fabrication_path %></li>      
            <li><%= link_to "Instrumentation and Electrical Services", services_instrumentation_and_electrical_services_path %></li>
            <li><%= link_to "Data Acquisition and Hosting Solutions", services_data_acquisition_and_hosting_solutions_path %></li>
            <li><%= link_to "Control Systems Audits", services_control_systems_audits_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"  onclick="location.href='/experience'"> EXPERIENCE <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Conventional Oil and Gas", experience_conventional_oil_and_gas_path %></li>
            <li><%= link_to "Power Generation", experience_power_generation_path %></li>
            <li><%= link_to "Waste Water and Waste Treatment", experience_waste_water_and_waste_treatment_path %></li>
            <li><%= link_to "Industrial Process Application", experience_industrial_process_application_path %></li>
          </ul>
        </li>
        <li><%= link_to "CAREERS", careers_path %></li>
        <li><%= link_to "CONTACTS", contacts_path %></li>
        <li><%= link_to "RESERVED", reserved_path %></li>
      </ul>
    </div>
    <!-- END MAIN NAVIGATION -->
  </div>
</nav>