<section class="recent-works">
	<div class="container">
		<h1 class="section-heading pull-left"> RECENT PROJECTS </h1>
    <a href="#" class="btn btn-primary pull-right">See all projects</a>
    <div class="clearfix"></div>
    <div class="portfolio-static">
      <div class="row">
        <div class="col-md-4">
          <div class="portfolio-item">
            <div class="overlay"></div>
            <div class="info">
              <h4 class="title">SINGLE WELL BATTERY SITE</h4>
              <p class="brief-description">BRIEF DESCRIPTION</p>
              <li class="btn"><%= link_to "READ MORE", projects_single_well_battery_site_path %></li>
						</div>
						<div class="media-wrapper">
							<%= image_tag "project_SWBS.jpg", alt: "Test" %>
						</div>
					</div>
		    </div>
				<div class="col-md-4">
					<div class="portfolio-item">
						<div class="overlay"></div>
						<div class="info">
						  <h4 class="title">GAS PLANT</h4>
							<p class="brief-description">BRIEF DESCRIPTION</p>
              <li class="btn"><%= link_to "READ MORE", projects_gas_plant_path %></li>
						</div>
						<div class="media-wrapper">
							<%= image_tag "project_2.png", alt: "Test" %>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="portfolio-item">
						<div class="overlay"></div>
						<div class="info">
							<h4 class="title">PROJECT #3</h4>
							<p class="brief-description">BRIEF DESCRIPTION</p>
              <li class="btn"><%= link_to "READ MORE", projects_sample_path %></li>
						</div>
						<div class="media-wrapper">
							<%= image_tag "project_3.png", alt: "Test" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>