<ul id="sidebar-nav" class="sidebar-nav margin-bottom-30px">
          <li class="list-group-item ">
            <%= link_to "Control Systems Integration", services_control_systems_integrator_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Commissioning", services_commissioning_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Controls Systems Technical Support", services_controls_systems_technical_support_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Network Design and Support", services_network_design_and_support_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Control Panel Fabrication", services_control_panel_fabrication_path %>
          </li>      
          <li class="list-group-item ">
            <%= link_to "Data Acquisition and Hosting Solutions", services_data_acquisition_and_hosting_solutions_path %>
          </li>
          <li class="list-group-item ">
            <%= link_to "Control Systems Audits", services_control_systems_audits_path %>
          </li>
        </ul>